.denied-container {
    background-color: #313233;
}

@font-face {
    font-family: 'SF Pro Display Black Italic';
    src: url('../fonts/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Heavy Italic';
    src: url('../fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Light Italic';
    src: url('../fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Semibold Italic';
    src: url('../fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Thin Italic';
    src: url('../fonts/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Ultralight Italic';
    src: url('../fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.tg-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-bottom: 50px; 
    height: 100vh; 
    overflow-y: hidden; 
}

.main-store-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 248, 248, 0.8);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: calc(5px + env(safe-area-inset-bottom));
    padding-top: 5px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.bottom-menu .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999;
    font-size: 12px;
    text-decoration: none;
    flex-grow: 1;
    gap: 5px;
}

.bottom-menu .icon {
    font-size: 24px;
}

.bottom-menu .label {
    font-family: 'SF Pro Display Regular';
    margin-top: -5px;
    position: relative;
    top: 1px;
}


#activeIcon {
    color: #007bff; 
}

.main-store-info {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding-top: 32px; 
    padding-bottom: -8px;
    gap: 3px;
}

.main-store-info h2 {
    font-family: 'SF Pro Display Bold';
    font-size: 24px;
}

.main-store-info h3 {
    position: relative;
    bottom: 28px;
    font-family: 'SF Pro Display Regular';
    font-weight: 100;
    font-size: 18.5px;
    color: #585858; 
    opacity: 0.75;
}

.gifts-grid {
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateY(-20px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px; 
    justify-content: center; 
    padding: 0 16px; 
    overflow-y: auto;
    max-height: calc(100vh - 230px); 
    scrollbar-width: none;
    margin-bottom: 8px;
}

.gifts-grid::-webkit-scrollbar {
    display: none;
}

.gift-item {
    position: relative; 
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
}

.gift-item {
    width: 180px;
    height: 260px;
}
  
.gift-emoji {
    font-size: 48px;
  }
  
.gift-background h4 {
    font-family: 'SF Pro Display Bold';
    position: relative;
    font-size: 18px;
    font-weight: bold;
    top: 60px;
    margin: 60px 0;
}
  
.gift-background button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    padding: 7px 34px;
    cursor: pointer;
    font-family: 'SF Pro Display Regular';
    font-size: 15px;
}

.quantity-gifts {
    display: flex;
    position: relative;
    font-family: 'SF Pro Display Bold';
    bottom: 26px;
    left: 35%;
}
  
.gift-background span {
    font-size: 13px;
    color: #2c2c2c;
    
}

.cake-icon {
    position: absolute;
    top: 42px; /* Настройте значения, чтобы располагать иконку, как нужно */
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 1; /* Убедитесь, что иконка находится выше других элементов */
}

.gift-background {
    background: linear-gradient(135deg, #e26dd8 0%, #ce5f34 100%);
    border-radius: 12px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.gift-background.gift-cake {
background-image: radial-gradient(at 52.77523397973631% 77.13237221656478%, rgb(253, 118, 60) 0%, hsla(17.816593886462883, 100%, 55.09803921568628%, 0) 100%), radial-gradient(at 15.662331512939609% 9.208771286623495%, rgb(233, 231, 114) 0%, hsla(63.82978723404256, 78.7709497206704%, 64.90196078431373%, 0) 100%), radial-gradient(at 85.77293244051221% 44.680541145499106%, hsla(307.89473684210526, 100%, 85.09803921568627%, 1) 0%, hsla(307.89473684210526, 100%, 85.09803921568627%, 0) 100%), radial-gradient(at 28.239111630808033% 21.038393501007448%, hsla(304.8175182481752, 76.53631284916199%, 64.90196078431372%, 1) 0%, hsla(304.8175182481752, 76.53631284916199%, 64.90196078431372%, 0) 100%), radial-gradient(at 78.92655260952736% 84.21899883288985%, rgb(223, 14, 241) 0%, hsla(17.816593886462883, 100%, 55.09803921568628%, 0) 100%), radial-gradient(at 15.652257237776833% 4.345857237001272%, rgb(236, 89, 212) 0%, hsla(63.82978723404256, 78.7709497206704%, 64.90196078431373%, 0) 100%), radial-gradient(at 28.2059400349161% 15.192875805837991%, hsla(307.89473684210526, 100%, 85.09803921568627%, 1) 0%, hsla(307.89473684210526, 100%, 85.09803921568627%, 0) 100%), radial-gradient(at 5.72846012805921% 45.77245176294986%, hsla(304.8175182481752, 76.53631284916199%, 64.90196078431372%, 1) 0%, hsla(304.8175182481752, 76.53631284916199%, 64.90196078431372%, 0) 100%), radial-gradient(at 89.1496015309168% 10.037131477927087%, rgb(236, 60, 198) 0%, hsla(17.816593886462883, 100%, 55.09803921568628%, 0) 100%), radial-gradient(at 95.479251949208% 64.04373618550866%, hsla(63.82978723404256, 78.7709497206704%, 64.90196078431373%, 1) 0%, hsla(63.82978723404256, 78.7709497206704%, 64.90196078431373%, 0) 100%), radial-gradient(at 13.474822674512655% 48.01263024495144%, hsla(307.89473684210526, 100%, 85.09803921568627%, 1) 0%, hsla(307.89473684210526, 100%, 85.09803921568627%, 0) 100%);}

.gift-background.gift-green {
background-image: radial-gradient(at 46.97338449110977% 47.71383426833238%, hsla(140.10810810810813, 97.8835978835979%, 62.94117647058823%, 1) 0%, hsla(140.10810810810813, 97.8835978835979%, 62.94117647058823%, 0) 100%), radial-gradient(at 29.448139277638052% 2.603982460841836%, hsla(167.787610619469, 69.32515337423311%, 68.03921568627452%, 1) 0%, hsla(167.787610619469, 69.32515337423311%, 68.03921568627452%, 0) 100%), radial-gradient(at 36.5302755051576% 82.53899678327781%, hsla(120.96000000000001, 57.07762557077625%, 57.05882352941176%, 1) 0%, hsla(120.96000000000001, 57.07762557077625%, 57.05882352941176%, 0) 100%), radial-gradient(at 19.225756257517368% 96.59302684140634%, hsla(140.10810810810813, 97.8835978835979%, 62.94117647058823%, 1) 0%, hsla(140.10810810810813, 97.8835978835979%, 62.94117647058823%, 0) 100%), radial-gradient(at 7.634889679080237% 94.5231501925806%, hsla(167.787610619469, 69.32515337423311%, 68.03921568627452%, 1) 0%, hsla(167.787610619469, 69.32515337423311%, 68.03921568627452%, 0) 100%), radial-gradient(at 30.304409951270994% 64.40111537007631%, hsla(120.96000000000001, 57.07762557077625%, 57.05882352941176%, 1) 0%, hsla(120.96000000000001, 57.07762557077625%, 57.05882352941176%, 0) 100%), radial-gradient(at 39.246719669901765% 3.2789713957542377%, hsla(140.10810810810813, 97.8835978835979%, 62.94117647058823%, 1) 0%, hsla(140.10810810810813, 97.8835978835979%, 62.94117647058823%, 0) 100%), radial-gradient(at 59.80221475337668% 75.04133529453294%, hsla(167.787610619469, 69.32515337423311%, 68.03921568627452%, 1) 0%, hsla(167.787610619469, 69.32515337423311%, 68.03921568627452%, 0) 100%), radial-gradient(at 86.83421635846665% 9.261294593450241%, hsla(120.96000000000001, 57.07762557077625%, 57.05882352941176%, 1) 0%, hsla(120.96000000000001, 57.07762557077625%, 57.05882352941176%, 0) 100%), radial-gradient(at 51.790949934079734% 27.85228413486167%, hsla(140.10810810810813, 97.8835978835979%, 62.94117647058823%, 1) 0%, hsla(140.10810810810813, 97.8835978835979%, 62.94117647058823%, 0) 100%), radial-gradient(at 78.16543474980419% 21.285182598509067%, hsla(167.787610619469, 69.32515337423311%, 68.03921568627452%, 1) 0%, hsla(167.787610619469, 69.32515337423311%, 68.03921568627452%, 0) 100%), radial-gradient(at 54.69750059892067% 24.367440919103124%, hsla(120.96000000000001, 57.07762557077625%, 57.05882352941176%, 1) 0%, hsla(120.96000000000001, 57.07762557077625%, 57.05882352941176%, 0) 100%);}

.gift-background.gift-blue {
    background-image: radial-gradient(at 39.51279118618971% 43.586166743219444%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 1) 0%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 0) 100%), radial-gradient(at 60.3673940591201% 22.02310846400044%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 1) 0%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 0) 100%), radial-gradient(at 7.0041736035525215% 29.915310125771487%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 1) 0%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 0) 100%), radial-gradient(at 34.86261531590158% 37.47242283555438%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 1) 0%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 0) 100%), radial-gradient(at 6.349503507775767% 88.20642354390687%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 1) 0%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 0) 100%), radial-gradient(at 0.7996742147858615% 82.94699824575756%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 1) 0%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 0) 100%), radial-gradient(at 54.87918540029142% 71.78395303373463%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 1) 0%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 0) 100%), radial-gradient(at 92.30219133194682% 16.490125899913522%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 1) 0%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 0) 100%), radial-gradient(at 85.6362362217908% 4.401104914872778%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 1) 0%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 0) 100%), radial-gradient(at 39.93062289050917% 7.180275489257726%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 1) 0%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 0) 100%), radial-gradient(at 65.54686338868993% 87.74213990415613%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 1) 0%, hsla(222.08333333333334, 79.12087912087912%, 64.31372549019608%, 0) 100%), radial-gradient(at 23.854972203181536% 65.36214621220158%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 1) 0%, hsla(209.03225806451616, 23.308270676691738%, 73.92156862745098%, 0) 100%);
}

.gift-background.gift-red {
    background-image: radial-gradient(at 29.476095190754982% 61.50656096599367%, hsla(348.1528662420382, 75.11961722488037%, 59.01960784313726%, 1) 0%, hsla(348.1528662420382, 75.11961722488037%, 59.01960784313726%, 0) 100%), radial-gradient(at 13.315664365886182% 2.6398303904376474%, hsla(324.93506493506493, 71.96261682242991%, 79.01960784313725%, 1) 0%, hsla(324.93506493506493, 71.96261682242991%, 79.01960784313725%, 0) 100%), radial-gradient(at 15.121747635725935% 59.48400256163191%, hsla(348.0628272251309, 74.90196078431373%, 50%, 1) 0%, hsla(348.0628272251309, 74.90196078431373%, 50%, 0) 100%), radial-gradient(at 41.48285177405499% 15.679805637076205%, hsla(348.1528662420382, 75.11961722488037%, 59.01960784313726%, 1) 0%, hsla(348.1528662420382, 75.11961722488037%, 59.01960784313726%, 0) 100%), radial-gradient(at 68.16510907689431% 22.668894846035002%, hsla(324.93506493506493, 71.96261682242991%, 79.01960784313725%, 1) 0%, hsla(324.93506493506493, 71.96261682242991%, 79.01960784313725%, 0) 100%), radial-gradient(at 59.571992329119496% 55.22769537001917%, hsla(348.0628272251309, 74.90196078431373%, 50%, 1) 0%, hsla(348.0628272251309, 74.90196078431373%, 50%, 0) 100%), radial-gradient(at 99.2166149584655% 32.11135814662383%, hsla(348.1528662420382, 75.11961722488037%, 59.01960784313726%, 1) 0%, hsla(348.1528662420382, 75.11961722488037%, 59.01960784313726%, 0) 100%), radial-gradient(at 1.235950809376507% 34.233175574983086%, hsla(324.93506493506493, 71.96261682242991%, 79.01960784313725%, 1) 0%, hsla(324.93506493506493, 71.96261682242991%, 79.01960784313725%, 0) 100%), radial-gradient(at 94.80969544860753% 47.380114576807046%, hsla(348.0628272251309, 74.90196078431373%, 50%, 1) 0%, hsla(348.0628272251309, 74.90196078431373%, 50%, 0) 100%), radial-gradient(at 50.13061047679306% 49.05551616056669%, hsla(348.1528662420382, 75.11961722488037%, 59.01960784313726%, 1) 0%, hsla(348.1528662420382, 75.11961722488037%, 59.01960784313726%, 0) 100%);}

.bottom-menu .button {
    transition: transform 0.5s ease; 
}

.bottom-menu .button:active {
    transform: scale(0.75); 
}

@media (min-width: 430px) {
    .gifts-grid {
        gap: 9px;
    }

    .gift-item {
        width: 200px;
        height: 265px;
    }

    .tg-container {
        padding-top: -10px; 
    }

    .gift-background button {
        margin-top: 20px;
        padding: 12px 38px;

    }

    .gift-background h4 {
        font-family: 'SF Pro Display Bold';
        font-size: 22px;
        
    }

    .gift-background h4 {
        margin: 58px 0;
    }

    .gift-background button {
        padding: 7px 34px;
    }
    
}

