.denied-container {
    background-color: #313233;
}

@font-face {
    font-family: 'SF Pro Display Black Italic';
    src: url('../fonts/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Heavy Italic';
    src: url('../fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Light Italic';
    src: url('../fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Semibold Italic';
    src: url('../fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Thin Italic';
    src: url('../fonts/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display Ultralight Italic';
    src: url('../fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.tg-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-bottom: 50px; 
    height: 100vh; 
    overflow-y: hidden; 
}

.main-store-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 248, 248, 0.8);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: calc(5px + env(safe-area-inset-bottom));
    padding-top: 5px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.bottom-menu .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999;
    font-size: 12px;
    text-decoration: none;
    flex-grow: 1;
    gap: 5px;
}

.bottom-menu .icon {
    font-size: 24px;
}

.bottom-menu .label {
    font-family: 'SF Pro Display Regular';
    margin-top: -5px;
    position: relative;
    top: 1px;
}


#activeIcon {
    color: #007bff; 
}

.main-store-info {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding-top: 32px; 
    padding-bottom: -8px;
    gap: 3px;
}

.main-store-info h2 {
    font-family: 'SF Pro Display Bold';
    font-size: 24px;
}

.main-store-info h3 {
    position: relative;
    bottom: 28px;
    font-family: 'SF Pro Display Regular';
    font-weight: 100;
    font-size: 18.5px;
    color: #585858; 
    opacity: 0.75;
}

.gifts-grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px; 
    justify-content: center; 
    padding: 0 16px; 
    overflow-y: auto;
    max-height: calc(100vh - 230px); 
    scrollbar-width: none;
}

.gifts-grid::-webkit-scrollbar {
    display: none;
}

.gift-item {
    position: relative; 
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
}

.gift-item {
    width: 200px;
    height: 236px;
}
  
.gift-emoji {
    font-size: 48px;
  }
  
.gift-background h4 {
    font-family: 'SF Pro Display Bold';
    position: relative;
    font-size: 18px;
    font-weight: bold;
    top: 38px;
    margin: 56px 0;
}
  
.gift-background button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 26px;
    cursor: pointer;
}

.quantity-gifts {
    display: flex;
    position: relative;
    font-family: 'SF Pro Display Bold';
    bottom: 26px;
    right: -38%;
}
  
.gift-background span {
    font-size: 13px;
    color: #2c2c2c;
}


.cake-icon {
    position: absolute;
    top: 20px; /* Настройте значения, чтобы располагать иконку, как нужно */
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 1; /* Убедитесь, что иконка находится выше других элементов */
}

  
@media (min-width: 440px) {
    .gifts-grid {
        gap: 9px;
    }

    .gift-item {
        width: 230px;
        height: 280px;
    }

    .tg-container {
        padding-top: -10px; 
    }

    .gift-background button {
        margin-top: 20px;
        padding: 13px 38px;

    }

    .gift-background h4 {
        font-family: 'SF Pro Display Bold';
        font-size: 22px;
        
    }

    
    
}

.gift-background {
    background: linear-gradient(135deg, #e26dd8 0%, #ce5f34 100%);
    border-radius: 12px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
